<ul class="nav flex-column full-height">
  <li class="nav-item">
    <div class="input-group">
      <input type="text" class="form-control text-secondary estr-search" placeholder="Pesquise Aqui">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fas fa-search text-secondary"></i>
        </span>
      </div>
    </div>
  </li>
  <li class="nav-item d-flex flex-row">
      <div class="p-2">
        <i class="icon-size fas fa-globe text-white"></i>
      </div>
      <div class="p-2">
        <a class="nav-link text-left text-white" href="#">Painel de Gestão</a>
      </div>
  </li>
  <li class="nav-item d-flex flex-row">
      <div class="p-2">
        <i class="icon-size fas fa-at text-white"></i>
      </div>
      <div class="p-2">
        <a class="nav-link text-left text-white" href="#">Conta Digital</a>
      </div>
  </li>
  <li class="nav-item d-flex flex-row">
      <div class="p-2">
        <i class="icon-size fas fa-chart-bar text-white"></i>
      </div>
      <div class="p-2">
        <a class="nav-link text-left text-white" href="#">Ant. de Recebiveis</a>
      </div>
      <div class="p-2">
          <i class="fas fa-angle-double-right text-white"></i>
      </div>
  </li>
</ul>